---
layout: default
---

<style>
  body {
    background: #292b2f;
  }
  
  h2 {
      color: #FFFFEE;
  }

  h1 {
    color: #FFFFFF
  }

  p {
    color: #dddddd;
  }
  
</style>


<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">

    {% if page.categories.size > 0 and site.show_tags %}
      <p class="category-tags"><i class="fas fa-tags category-tags-icon"></i></i> 
      {% for category in  page.categories  %}
        {%- assign prefix = category | slice: 0 -%}
        {% if prefix == "C" %}
          <a class="category-tags-link" href="{{site.baseurl}}/categories/cte#{{category|slugize}}">{{category}}</a>
        {% else %}
          <a class="category-tags-link" href="{{site.baseurl}}/categories/ap#{{category|slugize}}">{{category}}</a>
        {% endif %}
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
      </p>
    {% endif %}


  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  {%- if page.comments -%}
    {%- include utterances.html -%}
  {%- endif -%}
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>